<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Min första vue sida</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <h1>{{greeting}}</h1>
        <form v-if="visible">
            <label for="email">Email:</label>
            <input type="email" v-model="email">
            <submit-button></submit-button>
        </form>
        <h2 v-else>Tack nu får du spam!</h2>
    </div>

</body>
<script>
    // app är vår "rot"-komponent eller instans, main instance, vue instance
    let app = Vue.createApp({
        data() {
            return {
                greeting: "Hello from Vue 3",
                email: "bistromd@arcada.fi",
                visible: true
            }
        }
    })
    // Komponenter är också instanser av vue
    app.component("submit-button", {
        template: '<button type="submit" @click.prevent="submitForm">Sign up!</button>',
        methods: {
            submitForm() {
                console.log("hello")
                this.$root.visible = false // Dirty hack, vi går igenom emit nästa gång
            }
        }
    })
    app.mount("#app")
</script>

</html>