<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Min första vue sida</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <h1>{{greeting}}</h1>

        <form v-if="visible">
            <label for="email">Email:</label>
            <input type="email" v-model="email">
            <button type="submit" @click.prevent="submitForm">Sign up!</button> <!-- Kör submitform, preventdefault()-->
        </form>
        <h2 v-else>Tack nu får du spam!</h2>
    </div>

</body>
<script>
    const App = {
        data() {
            return {
                greeting: "Hello from Vue 3",
                email: "bistromd@arcada.fi",
                visible: true
            }
        },
        methods: {
            submitForm() {
                console.log("hello")
                this.visible = false
            }
        }
    }
    const vm = Vue.createApp(App).mount("#app")

</script>

</html>